<footer class="main-footer" th:fragment="footer">
    <style>
        #footer {
  width: 100%;
  background: #343a40;
  height: 270px;
  margin-top: 0px;
  padding: 0px 60px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

#footer .box {
  width: 350px;
}
#footer .box .quick-menu {
  margin-top: 30px;
}
#footer .box .quick-menu .item {
  margin-bottom: 10px;
}
#footer .box .quick-menu .item a,p,h2 {
  color: #ffffff;
  text-decoration: none;
}
    </style>
    <div id="footer">
        <div class="box">

            <h2 style="font-family: 'Sofia', sans-serif">Web Quần Áo</h2>
            <ul class="quick-menu">
                <div class="item">
                    <p>Địa chỉ: 123 Đặng Thùy Trâm, Phường 20, Quận LosAngeles, Tp.Hà Nội</p>
                </div>
                <div class="item">
                    <p>Số điện thoại: 0123456789</p>
                </div>
                <div class="item">
                    <p>Email: admin@gmail.com</p>
                </div>
            </ul>
        </div>

        <div class="box">
            <h2 style="font-family: 'Sofia', sans-serif">Follow us</h2>
            <ul class="quick-menu">
                <div class="item">
                    <a href="https://www.facebook.com/jack.phuongtuan1204">Facebook</a>
                </div>
                <div class="item">
                    <a href="https://www.youtube.com/watch?v=OrDB4jpA1g8">Instagram</a>
                </div>
                <div class="item">
                    <a href="https://www.youtube.com/watch?v=OrDB4jpA1g8">Youtube</a>
                </div>
                <div class="item">
                    <a href="https://www.youtube.com/watch?v=OrDB4jpA1g8">Tiktok</a>
                </div>
            </ul>
        </div>

        <div class="box">
            <h2 style="font-family: 'Sofia', sans-serif">Hỗ Trợ</h2>
            <ul class="quick-menu">
                <div class="item">
                    <a href="">Liên Hệ</a>
                </div>
                <div class="item">
                    <a href="">Giới Thiệu</a>
                </div>
                <div class="item">
                    <a href="">Quy Định & Chính Sách</a>
                </div>
            </ul>
        </div>

        <div class="box">
            <h2 style="font-family: 'Sofia', sans-serif">Thời Gian</h2>
            <ul class="quick-menu">
                <div class="item">
                    <p>Mở cửa: 8:00 AM - 20:00 PM</p>
                </div>
                <div class="item">
                    <p>Thứ Hai - Thứ Bảy hàng tuần</p>
                </div>
            </ul>
        </div>
    </div>
</footer>